<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<button type="button" class="btn btn-success">Test</button>
</body>
<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
<script src="../../vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
</html>